# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\全部代码\博客\cumthxy.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
